<% include ./partials/header %>

<div class="container main">
    <h2>Index Page</h2>
    <% blogs.forEach(function (blog) { %>
    <div>
        <h2><%= blog.title %></h2>
        <img src="<%= blog.image %>" alt="">
        <span><%= blog.created.toDateString() %></span>
        <p><%- blog.body.substring(0, 100) %></p>
        <a class="ui violet big button" href="/blogs/<%= blog._id %>">Read More</a>
    </div>
    <% }) %>
</div>
<% include ./partials/footer %>
